.App {
  /*position: relative;*/
  margin: 0;
  padding: 0;
  height: 100%;
}

#submitSearch {
  margin: 0;
}

.link {
  border-style: solid;
  border-width: 5px;
  height: 50px;
  width: 100px;
}

h4 {
  animation-duration: 3s;
  transition-timing-function: ease;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 37%;
    width: 300%; 
  }

  to {
    margin-left: 33.5%;
    width: 100%;
  }
}

#linksContainer {
  width: 100%;
  -webkit-column-count: auto;
  -webkit-column-gap: 2px;
  -webkit-column-fill: auto;
  -webkit-column-width: 435px;
  -moz-column-count: auto;
  -moz-column-gap: 2px;
  -moz-column-fill: auto;
  column-count: auto;
  column-gap: 2px;
  column-fill: auto;
  column-width: 435px;
}

/*.link-div {
  outline: #333 solid 2px;
}

.link-div:hover {
  outline: #4747d1 solid 4px;
}*/