.App {
  margin: 0;
  padding: 0;
  height: 100%;
}

#submitSearch {
  margin: 0;
}

h4 {
  animation-duration: 3s;
  transition-timing-function: ease;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 37%;
    width: 300%; 
  }

  to {
    margin-left: 33.5%;
    width: 100%;
  }
}

.linkDivChild {
  margin: 5px;
}

.linkDiv {
      box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    font-size: 0;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}